@using MIT.Razor.Pages.Component
@using System.Data
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inherits CommonComponentBase


@if (IsVisible && _dt != null && _dt.Rows.Count > 0) {
  foreach (DataRow dr in _dt.Rows){

    <div id='border_@(dr["THREAD_NUM"]?.ToString())' class="notiBoard">

  <div class="board_box">

    <div class="close_box">
          <button class="close_btn" @onclick=@(a => IsVisible = !IsVisible) >
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m8.738 7.979 5.293-5.293-.011-.01-.7-.7-.01-.01-5.289 5.296-5.3-5.3-.01.01-.7.7L2 2.676l5.3 5.3L2 13.283l.01.01.707.707 5.3-5.3 5.293 5.293.707-.707.011-.01-5.29-5.297z" fill="#fff"></path></svg>
      </button>
    </div>
    <div class="board_content">
          @( new MarkupString(  dr["BOARD_CONTENT"]?.ToString() ) )

          
          <MitFileListView FILE_GID=@(dr["FILE_ID"]?.ToString()) />


    </div>

  </div>

</div>

}

}

@code {
  [Parameter] public bool IsVisible { get; set; } = false;
  private string _threadNum;
  [Parameter] public string ThreadNum { get { return _threadNum; } set { _threadNum = value; LoadData(); } }

  [Parameter] public string FILE_GID { get;set; } 


  public DataTable _dt { get; set; }

  protected override async Task OnInitializedAsync() {

  }


  async Task LoadData(){


    if (QueryService == null) { return; }

    _dt = await QueryService.ExecuteDatatableAsync("P_HMI_COMMUNITY_BOARDLIST_POP02", new Dictionary<string, object?>() { { "ThreadNum", _threadNum } });

    StateHasChanged();

  }



}


