@using MIT.UI.Main.MainFrame;
@using MIT.Razor.Pages.Component.TreeView
@using Microsoft.JSInterop
@inject IJSRuntime JS

@inherits MainNavMenuBase



 @* <link href="\main\mainnavmenu.razor.css" rel="stylesheet" /> *@

 
 <div class="sidebar @StateCssClass">
 aaaaaaaaaaaaaaaaaaaaaaaa
    <CommonTreeView CssClass="ch-500"
                    KeyFieldName="MENU_ID"
                    ParentFieldName="PARENT_MENU_ID"
                    TextFieldName="MENU_NAME"
                    LevelFiledName="MENU_LEVEL"
                    SortFiledName="SORT"
                    IconUrlFieldName="ICON_URI"
                    IconCssClassFiledName="ICON_CSS_CLASS"
                    AllowSelectNodes="false"
                    RootID="ROOT"
                    NodeClick="@OnNodeClick"
                    @ref="@TreeView" />
</div> 





