@using MIT.Razor.Pages.Component.Popup

@inherits MainFooterFinalBase


<nav class="">
    
    <div class="navbar-logo">
        <span class="" >
            @MenuName
        </span>
    <span class="">
      @ProgramID
    </span>
    <span> </span>
    <span>@PGM_CLASS</span>
    </div>

</nav>
