@using MIT.Razor.Pages.Component.Popup

@inherits MainFooterBase


<nav class="navbar header-navbar p-0">
    
    <div class="navbar-logo">
        <span class="navbar-logo-img" style="background-image:unset !important;">
            @MenuName
        </span>
        <div class="navbar-logo-sep">(</div>
        <span class="navbar-logo-text-img" style="margin-top: 15px !important;">
            @ProgramID
        </span>
        <div class="navbar-logo-sep">)</div>
    </div>
    <div class="navbar-container">

    </div>
</nav>
