@{
    /*
    * 작성자명 : 김지수
    * 작성일자 : 25-05-30
    * 최종수정 : 25-05-30
    * 프로시저 : P_HMI_CHECK_LIST_RST_SAVE
    */
            }
@using MIT.Razor.Pages.Component.Grid
@using MIT.Razor.Pages.Component.Grid.RepositoryItem
@using MIT.Razor.Pages.Component.DataEdits
@using System.Data
@inherits UM5100QA1_POPBase

<div class="container w-100">
    @{ /* content area */ }
    <!-- 검침표 형식 -->
    <div class="row">
        <div class="col-3 text-center">검침표 형식 :</div>
        <div class="col-9 ">
            <CommonTextBox Text="@($"{YYMM} {KIND_TEXT}")"
            ReadOnly="true"/>
        </div>
    </div>
    <br />
    <!-- 확인자 -->
    <div class="row">
        <div class="col-3 text-center align-self-center">확인자 :</div>
        <div class="col-9">
            <CommonTextBox @bind-Text="@Confirmer"/>
        </div>
    </div>
    <br/>
    <!-- 버튼 -->
    <div class="row">
        <div class="col text-center">
            <DxButton Text="확인" Click="onClickConfirm" />
        </div>
    </div>
</div>
@code{
    private async Task onClickConfirm()
    {
        await btn_Save();
    }
}