@{
    /*
    * 작성자명 : 김지수
    * 작성일자 : 25-03-14
    * 최종수정 : 25-03-14
    * 프로시저 : P_HMI_CHECK_LIST_RST_SELECT
    */
            }
@using MIT.Razor.Pages.Component.Grid
@using MIT.Razor.Pages.Component.Grid.RepositoryItem
@using MIT.Razor.Pages.Component.DataEdits
@using System.Data
@inherits UM5100QA1Base

<DxFormLayout CssClass="w-100" style="height:auto;">
                @{ /* search area */ }
    <DxFormLayoutGroup Caption="조회조건" CssClass="mit-search-area" Decoration="FormLayoutGroupDecoration.Card" ColSpanSm="12">
        <DxFormLayoutItem Caption="조회년월" ColSpanSm="4"><CommonDateEdit @ref="@YYMM" DisplayFormat="yyyy-MM-dd"/></DxFormLayoutItem>
        <DxFormLayoutItem Caption="구분" ColSpanSm="3"><MitCombo CodeId="MR" @bind-Value="@MeterReadingId" @bind-Text="@MeterReadingText" NullText="중간검침" /></DxFormLayoutItem>
        <DxFormLayoutItem Caption="수용가" ColSpanSm="4"><MitCombo2 CodeId="CSTINTCDE" @bind-Value="@CSTINTCDE" NullText="수용가를 선택해주세요." SearchMode="ListSearchMode.AutoSearch" SearchFilterCondition="ListSearchFilterCondition.Contains" /></DxFormLayoutItem>
        <DxFormLayoutItem ColSpanSm="1"><DxButton Text="검침표 확인" Click="OnClickCheckListConfirm"></DxButton></DxFormLayoutItem>
    </DxFormLayoutGroup>
    @{ /* content area */ }
    <iframe name="printViewFrame" src="https://umsrpt.hanjucorp.co.kr/documentviewer" style="width: 100%;    height: 900px;"></iframe>
    <form id="printdown" method="post" action="https://umsrpt.hanjucorp.co.kr/documentviewer" target="printViewFrame" style="display: none; ">
        <textarea id="printcont" name="rpt"></textarea>
    </form>
</DxFormLayout>

@code{
    private async Task OnClickCheckListConfirm()
    {
        CheckListConfirmParameter parameter = new CheckListConfirmParameter
        {
            YYMM = YYMM.EditValue.Substring(0,7),
            KIND = MeterReadingId,
            COM_ID = CSTINTCDE.Desc,
            CSTINTCDE = CSTINTCDE.Name
        };
        //Console.WriteLine($"YYMM: {parameter.YYMM}, KIND: {parameter.KIND}, COM_ID: {parameter.COM_ID}, CSTINTCDE: {parameter.CSTINTCDE}");
        CommonPopupService.Show(typeof(UM5100QA1_POP), "검침표 확인", Width: 500, Height: 300, Parameter: parameter, CloseCallback: OnCloseCallback);
    }

    protected async Task OnCloseCallback(PopupResult result)
    {
        
    }
}
