@using MIT.Razor.Pages.Component.Grid
@using MIT.Razor.Pages.Component.DataEdits
@using MIT.Razor.Pages.Component.Grid.RepositoryItem
@using MIT.UI.LIB.DataEdits
@using MIT.UI.LIB.Grid.RepositoryItem

@inherits DCP00301Base


<DxFormLayout CssClass="w-100">
    <DxFormLayoutGroup Caption="조회조건" ColSpanSm="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start">
        <DxFormLayoutItem Caption="메시지ID" ColSpanSm="2">
            <CommonTextBox @ref="@txt_MSG_ID" />
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
    <DxFormLayoutGroup Caption="작업 정보" ColSpanSm="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start">
        <DxFormLayoutItem ColSpanSm="12">
            <CommonGrid @ref="Grd1"
                            IsCheckBox="false"
                            IsShowToolBar="false"
                          IsSearchButtonEnabled="false"
                        IsAddButtonEnabled="this.MainCommonButtonData == null ? false : MainCommonButtonData.IsButtonSave || MainCommonButtonData.IsButtonDelete"
                        IsSaveButtonEnabled="false"
                        IsDeleteButtonEnabled="false"
                        ControlHeight="480">
                <DataColumnsTemplate>
                    <DxGridDataColumn FieldName="MSG_ID" Caption="메시지ID" Width="100px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="MSG_NAME" Caption="메시지명" Width="250px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="LAST_HIS_NO" Caption="작업 HisNo" Width="100px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="STATUS" Caption="작업상태" Width="100px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="ERR_MSG" Caption="작업메시지" Width="400px" TextAlignment="GridTextAlignment.Left" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="UPT_DT" Caption="수정일" DisplayFormat="yyyy-MM-dd HH:mm:ss" Width="180px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn Width="100px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <button class="btn btn-link grid-btn-link" @onclick="() => OnJobStart(context2)">작업추가</button>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                </DataColumnsTemplate>
            </CommonGrid>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
</DxFormLayout>

<style>
    #layout_left {
        display:flex;
    }
</style>