@using MIT.Razor.Pages.Component.Grid
@using MIT.Razor.Pages.Component.DataEdits
@using MIT.Razor.Pages.Component.Grid.RepositoryItem
@using MIT.UI.LIB.DataEdits
@using MIT.UI.LIB.Grid.RepositoryItem

@inherits DCP00101Base


<DxFormLayout CssClass="w-100">
    <DxFormLayoutGroup Caption="조회조건" ColSpanSm="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start">
        <DxFormLayoutItem Caption="거래처명" ColSpanSm="3">
            <CommonCustSearchLookup @ref="@cbo_CUST_CODE" />
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
    <DxFormLayoutGroup Caption="Api Key 발급 정보" ColSpanSm="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start">
        <DxFormLayoutItem ColSpanSm="12">
            <CommonGrid @ref="Grd1"
                            IsCheckBox="false"
                            IsShowToolBar="false"
                          IsSearchButtonEnabled="false"
                        IsAddButtonEnabled="false"
                        IsSaveButtonEnabled="false"
                        IsDeleteButtonEnabled="false"
                        ControlHeight="480">
                <DataColumnsTemplate>
                    <DxGridDataColumn FieldName="CUST_CODE" Caption="거래처" Width="100px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" FixedPosition="GridColumnFixedPosition.Left">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="CUST_NAME" Caption="거래처" Width="200px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" FixedPosition="GridColumnFixedPosition.Left">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="API_KEY" Caption="API Key" Width="400px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <RepositoryItemTextBox CellContext="context2" AllowEdit="false" ReadOnly="true" />
                        </CellDisplayTemplate>
                    </DxGridDataColumn>

                    <DxGridDataColumn FieldName="" Caption="" Width="150px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate Context="context2">
                            <button class="btn btn-link grid-btn-link" @onclick="() => OnApiKeyReissuance(context2)">ApiKey발급</button>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                </DataColumnsTemplate>
            </CommonGrid>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
</DxFormLayout>
