@layout MainUILayout4
@page "/design03"
@using MIT.UI.Main.Main
@using MIT.UI.Main.MainFrame

<DxLayoutBreakpoint MaxWidth="1200" @bind-IsActive="@IsMobileLayout" />

<div class="@(IsMobileLayout ? "main-ui-size-mobile" : "main-ui-size")">
    <MainFrame MaxTabCount="20"></MainFrame>
</div>

@code {

    bool _isMobileLayout;
    bool IsMobileLayout
    {
        get => _isMobileLayout;
        set
        {
            _isMobileLayout = value;
        }
    }
}